
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.myaccount {
  width: auto !important;
}

.bottom {
    bottom: 0px;
    position: absolute;
    display: inline-flex;
  }
  
.bottom > li.current-page, .bottom > li.active {
  border-right: 0px !important;
}

.linkproduct:hover, .linkproduct:focus {
  color: #1ABB9C;
}

@media (min-width: 768px) {
  .dashboard-content {
    max-width: 32.7%;
  }
}
